includes/suggestions/suggestions_map.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated from suggestions.xml by XMLBuddy -->

<!ELEMENT SUGGESTS (STATES?,ALLOWEDFLOW?,WORKFLOW)>

<!ELEMENT STATES (STATE+)>

<!ELEMENT STATE (ACTION?)>
<!ATTLIST STATE
	ADD (YES|NO) #REQUIRED
	CATALOG (YES|NO) #REQUIRED
	CATEG (YES|NO) #REQUIRED
	COMMENT CDATA #REQUIRED
	DISPLAY NMTOKEN #REQUIRED
	ID NMTOKEN #REQUIRED
	MERGE (FROM|TO|NO) #REQUIRED
	NAME CDATA #REQUIRED
>

<!ELEMENT ACTION EMPTY>
<!ATTLIST ACTION NAME NMTOKEN #REQUIRED>

<!ELEMENT ALLOWEDFLOW (FIRSTSTATE+,LASTSTATE+,FROMSTATE+)>

<!ELEMENT FIRSTSTATE (#PCDATA)>

<!ELEMENT LASTSTATE (#PCDATA)>

<!ELEMENT WORKFLOW (FIRSTSTATE,LASTSTATE,FROMSTATE+)>

<!ELEMENT FROMSTATE (TOSTATE*)>
<!ATTLIST FROMSTATE NAME NMTOKEN #REQUIRED>

<!ELEMENT TOSTATE EMPTY>
<!ATTLIST TOSTATE
	NAME NMTOKEN #REQUIRED
>


